@import url(https://db.onlinewebfonts.com/c/150037e11f159dca84bc4c04549094b6?family=Averta-Regular);

button {
    font-family: "Averta-Regular",Helvetica,Arial,sans-serif;
}

/* Dashboard Content Styles */
.dashboard-content {
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 100vh;
}

/* Heading Styles */
h2 {
    color: #0e8add;
}

/* Text Styles */
p {
    color: #666;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
}

table td,
table th {
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

table th {
    font-weight: bold;
    background-color: #fafafa;
    text-align: left;
}

table tr {
    cursor: pointer;
}

table tr:hover {
    background-color: #ddd;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
    top: 50%;
}

.value {
    margin-left: 10px;
}

#progressValue,
#RvBValue {
    display:none;
}

#rvb {
    color: black;
}

.progress-container {
    width: 100%;
    background-color: #ccc;
    height: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .progress-bar {
    width: 0;
    height: 100%;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 15px;
  }

  .red {
    background-color: #E63A4E;
  }

  .orange {
    background-color: #F5A04C;
  }

  .green {
    background-color: #ACD084;
  }

  @keyframes slide {
    0% { width: 0; }
  }

.showDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.showManHours,
.showBudget,
.showExpectedCosts,
.showDuration {
    flex: 1;
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 1.5em;
}

p {
    font-size: 1.2em;
}

.project-container {
    display: flex;
    justify-content: space-between;
}

.showName {
    text-transform: capitalize;
    margin-top: -10px;
}

.showLeader {
    margin-top: -15px;
}

.showProgram {
    margin-top: -20px;
}

.showCode {
    margin-top: 40px;
}

.showLink {
    margin-top: -20px;
    margin-bottom: -10px;
}

.left-box {
    flex: 8;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-box {
    flex: 1.5;
    padding: 20px;
    margin: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.showRoles {
    color: black;
}

select {
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 1px solid #ccc;
}

select:focus {
    border: 1px solid #555;
}

/* Styling for both input and textarea */
input[type=text],
input[type=url],
input[type=date],
input[type=file] {
    font-family: "Averta-Regular", Helvetica, Arial, sans-serif;
    padding: 12px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow: auto;
    resize: both;
    min-width: 150px; /* Set a minimum width */
}

/* Focus styles */
input[type=text]:focus,
input[type=url]:focus,
input[type=date]:focus,
input[type=file]:focus {
    border: 1px solid #555;
}

input[type=number] {
    /*for absolutely positioning spinners*/
    font-family: "Averta-Regular",Helvetica,Arial,sans-serif;
    padding: 12px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=number]:focus {
    outline: none;
    border: 1px solid #555;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: inner-spin-button !important;
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

textarea {
    font-family: "Averta-Regular", Helvetica, Arial, sans-serif;
    padding: 12px 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    outline: none;
    overflow: hidden;
    resize: vertical;
}

textarea:focus {
    border: 1px solid #555;
}