@import url(https://db.onlinewebfonts.com/c/150037e11f159dca84bc4c04549094b6?family=Averta-Regular); 

body {
    margin: 0;
    font-family: "Averta-Regular",Helvetica,Arial,sans-serif;
    background-color: #f4f4f4;
}

.custom-sidebar {
    background-color: #232323;
    color: #fff;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    transition: width 0.3s ease;
    overflow: hidden;
    z-index:5;
}

.custom-sidebar:hover {
    width: 175px;
}

.custom-menu-item .menu-text {
    display: none;
    margin-left: 15px;
    transition: margin-left 0.3s ease;
}

.custom-sidebar:hover .custom-menu-item .menu-text {
    display: block;
}

.custom-logo-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    margin-left: 7px;
}

.custom-logo {
    width: 45px;
    height: 45px;
    transition: margin-left 0.3s ease;
}

.logoLink {
    display: flex;
    align-items: center;
}

.custom-sidebar:hover .custom-logo {
    margin-left: 96px;
    transition: margin-left 0.3s ease;
}

.custom-logo-text {
    position: absolute;
    width: 89px;
    margin-left: 15px;
    opacity: 0;
    display: none;
}

.custom-sidebar:hover .custom-logo-text {
    display: block;
    animation: fadeIn 0.2s ease-in forwards;
}

/* Sidebar Menu */
.custom-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.active {
    background-color: rgb(0, 120, 157);
}

.custom-menu-item:hover {
    background-color: rgb(0, 146, 191);
}

.custom-menu-link {
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.icon {
    height: 30px;
    width: 30px;
    margin-left: 14px;
}

.menu-text {
    animation: fadeIn 0.2s ease-in forwards;
}

/* Main Content */
.custom-main-content {
    margin-left: 60px;
    padding: 20px;
}

/* Top Menu */
.custom-top-menu {
    background-color: #232323;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 60px;
    padding: 0 40px;
    height: 60px;
}

.custom-top-menu-ul {
    list-style-type: none;
    margin: 0;
}

.custom-top-menu-link {
    color: #fff;
    text-decoration: none;
}

.custom-top-menu-link:hover {
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
      opacity: 0; /* Start with opacity 0 */
    }
    to {
      opacity: 1; /* End with opacity 1 */
    }
}